@inject IMfComponentService mfs
@implements IDisposable

<piral-slot name="@Name">
@foreach (var (pilet, component) in components)
{
    <piral-component origin="@pilet">
        <ErrorBoundary>
            <ChildContent>
                <DynamicComponent Type="@component" Parameters="@ActualParameters" />
            </ChildContent>
            <ErrorContent>
                <p class="errorUI">Component crashed.</p>
            </ErrorContent>
        </ErrorBoundary>
    </piral-component>
}
</piral-slot>

@code {
    private IEnumerable<(string, Type)> components = Enumerable.Empty<(string, Type)>();

    /// <summary>
    /// The required name of the components to render.
    /// </summary>
    [Parameter]
    public string Name { get; set; } = "";

    /// <summary>
    /// The additional parameters to forward to the extensions.
    /// </summary>
    [Parameter]
    public IDictionary<string, object?>? Parameters { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object?>? RemainingParameters { get; set; }

    private IDictionary<string, object?>? ActualParameters => Parameters ?? RemainingParameters;

    protected override void OnParametersSet() => UpdateComponent();

    protected override void OnInitialized()
    {
        mfs.ComponentsChanged += NotifyComponentsChanged;
    }

    public void Dispose()
    {
        mfs.ComponentsChanged -= NotifyComponentsChanged;
    }

    private void NotifyComponentsChanged(object? sender, EventArgs e) => InvokeAsync(UpdateComponent);

    private void UpdateComponent()
    {
        components = mfs.GetComponents(Name);
        StateHasChanged();
    }
}
